body {
  font-family: "Arial", sans-serif;
  background-color: #24282c;
  color: #e95d50;
  padding: 10px;
  border-radius: 15px;
}

h4 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 730;
  font-style: normal;
  display: inline;
  font-size: 20px;
  margin: 0;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.slider-container {
  margin-bottom: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

#rate-slider,
#reverb-slider {
  width: 100%;

}

#rate-value,
#reverb-value {
  font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 730;
  font-style: normal;
  display: inline;
  font-size: 15px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #e95d50;
  outline: none;
  opacity: 0.8;
  transition: opacity .15s ease-in-out;
  margin-top: 0px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #e95d50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 11px;
  background: #e95d50;
  cursor: pointer;
  border: none;
  border-radius: 0;
}
